<div class="container center-absolute">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">¡Crear cuenta!</h1>
            </div>
            <br /><br />
            <form class="user" (ngSubmit)="signup($event)" [formGroup]="form">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="name"
                  class="form-control form-control-user"
                  placeholder="Nombre"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  formControlName="email"
                  class="form-control form-control-user"
                  placeholder="Correo"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  formControlName="password"
                  class="form-control form-control-user"
                  placeholder="Contraseña"
                />
              </div>
              <hr />
              <button
                type="submit"
                [disabled]="!form.valid"
                (click)="signup($event)"
                class="btn btn-primary btn-user btn-block"
              >
                Regístrarme
              </button>
              <br />
              <div class="text-center">
                <a class="small" routerLink="/login"
                  >¿Tienes una cuenta? <strong>Inicia sesión</strong></a
                >
              </div>
            </form>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
