<div id="app page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <app-nav-bar *ngIf="user != null"></app-nav-bar>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- End of Page Wrapper -->

  <ngx-ui-loader fgsColor="#4267b2" pbColor="#4267b2"></ngx-ui-loader>
</div>
