#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #2e59d9;
  background-color: transparent;
  border-color: transparent transparent #2e59d9;
  border-bottom: 4px solid !important;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #2e59d9;
}
.container-fluid {
  height: calc(100vh - 5rem);
}
.search-results {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 45vh;
}
.tab-pane {
  overflow: hidden;
}
.nav-item {
  cursor: pointer;
}
