<app-modal-details></app-modal-details>
<!-- Container-fluid -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h1 class="h3 mb-0 text-gray-800">Marvel heroes</h1>
  </div>

  <div class="row">
    <div class="col-xl-3 col-lg-3">
      <div class="card shadow mb-2 h-100">
        <!-- Card Body -->
        <div class="card-body">
          <ul class="list-group h-100">
            <div class="row">
              <app-heroe-thumbnail
                class="col-xl-4 col-lg-4"
                *ngFor="let heroe of heroesToShow"
                [heroe]="heroe"
              ></app-heroe-thumbnail>
            </div>

            <div
              class="text-center d-flex justify-content-center h-100 flex-column"
              *ngIf="heroesToShow && heroesToShow.length == 0"
            >
              <h1>😴</h1>
              <p>Nada para mostrar aquí...</p>
            </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xl-9 col-lg-9">
      <div class="card shadow mb-2 h-100">
        <!-- Tabs -->
        <section id="tabs">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a
                class="nav-item nav-link"
                id="nav-search-tab"
                (click)="changeTab(true)"
                [ngClass]="{ active: tabActive }"
                role="tab"
                aria-controls="nav-search"
                aria-selected="true"
                >Buscar héroe</a
              >
              <a
                class="nav-item nav-link"
                id="nav-saved-tab"
                (click)="changeTab(false)"
                [ngClass]="{ active: !tabActive }"
                role="tab"
                aria-controls="nav-saved"
                aria-selected="false"
                >Héroes guardados</a
              >
            </div>
          </nav>
          <div class="tab-content px-3 px-sm-0" id="nav-tabContent">
            <div
              class="tab-pane fade p-2"
              [ngClass]="{ active: tabActive, show: tabActive }"
              id="nav-search"
              role="tabpanel"
              aria-labelledby="nav-search-tab"
            >
              <form
                (ngSubmit)="search($event)"
                [formGroup]="form"
                class="d-none d-sm-inline-block form-inline w-100 navbar-search"
              >
                <div class="input-group float-right w-50 mr-2">
                  <input
                    type="text"
                    formControlName="query"
                    class="form-control bg-light border-0 small"
                    placeholder="Buscar héroe..."
                    aria-label="Search"
                    aria-describedby="basic-addon2"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-primary"
                      type="submit"
                      [disabled]="!form.valid"
                    >
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>

              <br />
              <br />

              <h3 class="mr-auto ml-md-3 my-2 my-md-0">
                Resultados de búsqueda
              </h3>
              <div
                class="text-center d-flex justify-content-center h-100 flex-column"
                *ngIf="heroes && heroes.length == 0"
              >
                <h1>😴</h1>
                <p>Nada para mostrar aquí...</p>
              </div>
              <div class="mr-auto ml-md-3 my-2 my-md-0 mw-100 search-results">
                <div class="row">
                  <app-heroe
                    class="col-xl-6 col-lg-6"
                    *ngFor="let heroe of heroes"
                    [heroe]="heroe"
                  ></app-heroe>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade p-2"
              id="nav-saved"
              role="tabpanel"
              [ngClass]="{ active: !tabActive, show: !tabActive }"
              aria-labelledby="nav-saved-tab"
            >
              <div class="mr-auto ml-md-3 my-2 my-md-0 mw-100 search-results">
                <div class="row">
                  <app-heroe
                    class="col-xl-6 col-lg-6"
                    *ngFor="let heroe of user.favorites"
                    [heroe]="heroe"
                    [showDelete]="true"
                  ></app-heroe>

                  <div
                    class="text-center d-flex justify-content-center w-100 h-100 flex-column"
                    *ngIf="user.favorites && user.favorites.length == 0"
                  >
                    <br /><br />
                    <h1>😴</h1>
                    <p>Nada para mostrar aquí...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- ./Tabs -->
      </div>
    </div>
  </div>
</div>
<!-- End container-fluid -->
