<!-- Modal -->
<div
  class="modal fade show"
  [ngClass]="{ 'show-modal': show }"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true"
  *ngIf="heroe"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">
          Detalles de <strong>{{ heroe.name }}</strong>
        </h5>
        <button
          type="button"
          class="close"
          (click)="close()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          class="cover"
          [ngStyle]="{
            'background-image':
              'url(' +
              heroe.thumbnail.path +
              '/landscape_incredible.' +
              heroe.thumbnail.extension +
              ')'
          }"
        ></div>
        <br />
        <p class="text-justify">{{ heroe.description || "Sin descripción" }}</p>

        <hr />
        <h2>Series:</h2>
        <p>
          <span
            class="badge badge-success mr-1"
            *ngFor="let serie of heroe.series.items"
            >{{ serie.name }}</span
          >
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal-backdrop fade hidde-backdrop"
  [ngClass]="{ show: show, 'show-backdrop': show }"
></div>
