.modal {
  display: none;
  .modal-dialog {
    max-width: 800px;
  }
}

.show-modal {
  display: block !important;
  padding-right: 15px;
}

.hidde-backdrop {
  display: none;
}

.show-backdrop {
  display: block !important;
}

.cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 280px;
}
