<li class="list-group-item">
  <!-- <div class="cover" [ngStyle]="{ 'background-image': page['cover'] }"></div> -->
  <div class="row">
    <div class="col-sm-9 d-flex justify-content-left align-items-center">
      <img
        class="avatar avatar-32 rounded-circle"
        [src]="heroe.thumbnail.path + '/standard_medium.jpg'"
      />

      <div>
        <strong>{{ heroe.name }}</strong>
        <br />
        <!-- <small>{{ heroe["category"] }}</small> -->
      </div>
    </div>
    <div
      class="col-sm-3 d-flex justify-content-end align-items-center buttons-action"
    >
      <button
        type="button"
        class="btn btn-success btn-circle"
        (click)="addToFavorite()"
      >
        <i class="fas fa-plus"></i>
      </button>

      <button
        type="button"
        *ngIf="showDelete"
        class="btn btn-danger btn-circle"
        (click)="remove()" 
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
</li>
<br />
